.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/.history/application/config/autoload_20190116211934.php
/.history/application/config/autoload_20190702180358.php
/.history/application/config/autoload_20190702182027.php
/.history/application/config/config_20190116211934.php
/.history/application/config/config_20190702180311.php
/.history/application/config/config_20190702180312.php
/.history/application/config/config_20190702182817.php
/.history/application/config/config_20190702184628.php
/.history/application/config/config_20190702184632.php
/.history/application/config/config_20190702190110.php
/.history/application/config/config_20190703115855.php
/.history/application/config/database_20190116211934.php
/.history/application/config/database_20190702184807.php
/.history/application/config/database_20190702184940.php
/.history/application/config/database_20190702190038.php
/.history/application/controllers/Dashboard_20190702175015.php
/.history/application/controllers/Dashboard_20190702175041.php
/.history/application/controllers/Dashboard_20190702175047.php
/.history/application/controllers/Dashboard_20190702175637.php
/.history/application/controllers/Dashboard_20190702175807.php
/.history/application/controllers/Dashboard_20190702175824.php
/.history/application/libraries/Header_20190702175210.php
/.history/application/libraries/Header_20190702175224.php
/.history/application/libraries/Header_20190702175311.php
/.history/application/views/dashboard/index_20190702174903.php
/.history/application/views/dashboard/index_20190702183524.php
/.history/application/views/dashboard/index_20190703120143.php
/.history/application/views/dashbord/index_20190702174613.php
/.history/application/views/dashbord/index_20190702174624.php
/.history/application/views/dashbord/index_20190702174739.php
/.history/application/views/dashbord/index_20190702174805.php
/.history/application/views/dashbord/index_20190702174824.php
/.history/application/views/dashbord/index_20190702174904.php
/.history/application/views/include/footer_20190702174715.php
/.history/application/views/include/footer_20190702174805.php
/.history/application/views/include/footer_20190702182523.php
/.history/application/views/include/footer_20190702183442.php
/.history/application/views/include/footer_20190703120336.php
/.history/application/views/include/footer_20190703120351.php
/.history/application/views/include/footer_20190703121749.php
/.history/application/views/include/footer_20190703121853.php
/.history/application/views/include/footer_20190703123736.php
/.history/application/views/include/footer_20190703123749.php
/.history/application/views/include/footer_20190703123758.php
/.history/application/views/include/header_20190702174706.php
/.history/application/views/include/header_20190702174739.php
/.history/application/views/include/header_20190702174824.php
/.history/application/views/include/header_20190702182156.php
/.history/application/views/include/header_20190702182216.php
/.history/application/views/include/navbar_20190702174727.php
/.history/application/views/include/navbar_20190702174904.php
/.history/application/views/include/navbar_20190702183023.php
/.history/application/views/include/navbar_20190702183029.php
/.history/application/views/include/navbar_20190702183032.php
/.history/application/views/include/navbar_20190702183157.php
/.history/application/views/include/navbar_20190702183212.php
/.history/application/views/include/navbar_20190702183442.php
/.history/application/views/include/navbar_20190702183521.php
/.history/application/views/include/navbar_20190702183723.php
/.history/application/views/include/navbar_20190702183828.php
/.history/application/views/include/navbar_20190702183837.php
/.history/application/views/include/navbar_20190702183850.php
/.history/application/views/include/navbar_20190703192819.php
/.history/application/views/include/navbar_20190703192936.php
/.history/application/views/include/navbar_20190703192949.php
/.history/application/views/include/navbar_20190703193031.php
/.history/application/views/include/navbar_20190703193037.php
/.history/application/views/include/navbar_20190703193059.php
/.history/application/views/include/navbar_20190703193500.php
/.history/application/views/include/navbar_20190703193609.php
/.history/application/views/include/navbar_20190703194029.php
/.history/application/views/include/navbar_20190703194138.php
/.history/application/views/include/navbar_20190703194151.php
/.history/application/views/include/navbar_20190703194159.php
/.history/assets/css/material-dashboard_20181113192725.css
/.history/assets/css/material-dashboard_20190703120858.css
/.history/assets/css/material-dashboard_20190703120906.css
/.history/assets/css/material-dashboard_20190703120909.css
/.history/assets/css/material-dashboard_20190703120944.css
/.history/assets/css/material-dashboard_20190703121122.css
/.history/assets/css/material-dashboard_20190703121132.css
/.history/assets/css/material-dashboard_20190703121416.css
/.history/assets/css/material-dashboard_20190703121548.css
/.history/assets/css/material-dashboard_20190703121606.css
/.history/assets/css/material-dashboard_20190703121623.css
/.history/assets/css/material-dashboard_20190703121628.css
/.history/assets/css/material-dashboard_20190703121633.css
/.history/assets/css/material-dashboard_20190703121645.css
/.history/assets/css/material-dashboard_20190703121655.css
/.history/assets/css/material-dashboard_20190703121730.css
/.history/assets/css/material-dashboard_20190703123804.css
/.history/assets/css/material-dashboard_20190703123812.css
/.history/assets/css/material-dashboard_20190703123849.css
/.history/assets/css/material-dashboard_20190703193636.css
/.history/assets/css/material-dashboard_20190703193701.css
/.history/assets/css/material-dashboard_20190703193709.css
/.history/assets/css/material-dashboard_20190703194018.css
/.history/assets/css/material-dashboard_20190703194059.css
/.history/assets/css/material-dashboard_20190703194228.css
/.history/assets/css/material-dashboard_20190703194244.css
/.history/assets/css/material-dashboard_20190703194320.css
/.history/assets/css/material-dashboard_20190703194354.css
/.history/assets/css/material-dashboard_20190703194429.css
/.history/assets/css/material-dashboard_20190703194648.css
/_gsdata_/2020-0117-133808-GURUBACHAN-ASUS-grs.log
/_gsdata_/2020-0118-115030-GURUBACHAN-ASUS-grs.log
/_gsdata_/2020-0118-115435-GURUBACHAN-ASUS-grs.log
/_gsdata_/2020-0119-164111-GURUBACHAN-ASUS-grs.log
/_gsdata_/2020-0122-114552-GURUBACHAN-ASUS-grs.log
/_gsdata_/2020-0122-130119-GURUBACHAN-ASUS-grs.log
/_gsdata_/2020-0123-181843-GURUBACHAN-ASUS-grs.log
/_gsdata_/2020-0123-190747-GURUBACHAN-ASUS-grs.log
/_gsdata_/_file_state_v4._gs
/_gsdata_/_insync_v4.gsl
/_gsdata_/_recycled_db._gs
/database/02122019.sql
/grs_ci.iml
/my.cnf
/uploads/1569471629Scan_23_Sep_2019_(1).pdf
/uploads/1575367240M_Supra.pdf
/uploads/1576385005M_Supra.pdf
/uploads/1576385210Ajit_Kmar_Sahoo_CV.pdf
/uploads/15763853701573107145157_Resume_Pushpak_Hota(1).pdf
/uploads/15763888661573107145157_Resume_Pushpak_Hota(1).pdf
